.table{
    width:100%;
    max-width:100%;
    margin-bottom:1rem;
    background-color:transparent;
}
.table thead th{
    vertical-align:bottom;
    border-bottom:2px solid #eceeef;
}
.table th,.table td{
    padding:.75rem;
    vertical-align:top;
    border-top:1px solid #eceeef;
}